<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue.js</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <main>
    	<h1 v-show="conectado">Aquí utilizo v-show</h1>  <!-- 1- Si está a false pone display:none, es decir sigue estando en el DOM -->


        
    	<h1 v-if="conectado">Aquí uso v-if</h1>  <!-- 2- Si está a false desaparece el elemento del DOM -->

    	<h2 v-if="edad < 18">No puedes entrar. Eres menor</h2>
        <h2 v-else-if="edad > 200">Eres inmortal??.</h2>
        <h2 v-else>Puedes entrar.</h2>


        <template v-if="conectado"> <!-- Si lo metemos dentro de template afecta a todo lo que contiene -->
            <h3>Bienvenido Txomin</h3>
            <ul>
                <li>
                    <a href="#">Mis datos</a>
                    <a href="#">Mensajes</a>
                </li>
            </ul>
        </template>
        <h4 v-else>No estás conectado, no ves el li :(</h4>



		<pre> {{ $data}}</pre>
    </main>


    <!-- Vuejs 2 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  -->

    <!-- Vuejs 3 -->
    <script src="https://unpkg.com/vue@next"></script>
    
    <!-- <script src="../Vue.min/vue.min.js"></script> -->
    <script src="../Vue.min/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>